.none{
    display: none;
}
.right{
    position: relative;
    display: flex;
    justify-content: space-evenly;
    width: 300px;
    height: 30px;
    float: right;
    align-items: center;
}
.settings{
    margin: 0px 30px 30px 30px;
    position: relative;
}
.cercle{
    height: 30px;
    background-color:  #DEEBFF;
    width: 30px;
    border-radius: 50%;
}
.filtres{
    width: 600px;
    display: flex;
    justify-content: space-between;
}
.centre{
    display: flex;
    align-items: center;
}
.arrondi_div{
    border-radius: 20px;
    border: 1px solid black;
}
.centre2{
    margin: auto;
}
/*
div{
    border: 1px solid blue
}*/
body{
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    margin: 0px;
    padding: 0px;
}
.right span{
    padding-top: 17px;
}
.haut{
    position: relative;
    padding-top: 10px;
    top: 2px;
    border-top: 4px solid  #0065FC;
    color:  #0065FC;
}
.img_centre{
    display: flex;
    justify-content: space-between;
    position: relative;
    float: left;
    box-sizing: content-box;
    width: 100%;
}
.img_gauche{
    display: flex;
    box-sizing: content-box;
    padding: 20px;
    border-radius: 20px;
    background-color: #F2F2F2;
    width: 70%;
    flex-wrap: wrap;
}
.container_h_figure img{
    width: 200px;
    height: 100px;
    border-radius: 15px 15px 0px 0px;
}
.container_h{
    background-color: gray;
    padding: 20px;
}
.container_h_figure{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.img_droite{
    display: flex;
    box-sizing: content-box;
    width: 25%;
    flex-direction: column;
    border-radius: 20px;
    background-color:#F2F2F2;
}
.radius_gauche{
    border-radius: 10px 0px 0px 10px;
    background-color:#F2F2F2;
    height: 30px;
    width: 30px;
    justify-content: center;
}
.rechercher{
    height: 30px;
    display: flex;
    margin-top: 15px;
    margin-bottom: 15px;
    align-items: center;
}
.champs_rech{
    height: 28px;
    width: 150px;
    border: 1px solid gray;
}
.btn_rech{
    height: 30px;
    width: 100px;
    background-color: #0065FC;
    border-radius: 0px 10px 10px 0px;
    color: white;
}
.txt_colle{
    margin-bottom: 0;
}
figure{
    border-radius: 15px;
    padding: 5px;
    width: 200px;
    background-color: white;
}
.icon{
    color: #0065FC;
}
.container_populaires{
    padding: 15px;
}
.container_populaires figure{
    width: 250px;
    height: 150px;
}
.container_populaires img{
    height: 100px;
    width: 100px;
}
.container_activite{
    display: flex;
    flex-direction: column;
    position: relative;
    box-sizing: content-box;
    height: 600px;
    width: 1500px;
    padding-top: 90px;
}
.container_img_act{
    display: flex;
    position: relative;
    float: left;
}
.img_activite_S{
    border-radius: 20px 20px 0px 0px;
    height: 100px;
    width: 200px;
}
.img_activite_B{
    border-radius: 20px 20px 0px 0px;
    height: 300px;
    width: 200px;
}
.fig_haut{
    height: 350px;
    width: 200px;
}
.fig_basse{
    height: 150px;
    width: 200px;
}
.container_img_act figure{
    border-radius: 20px;
    box-shadow: black 2px 3px 5px;
}
.d_m_footer{
    display: flex;
    flex-direction: row;
}
.f_left{
    position: relative;
    float: left;
}