.none{
    display: none;
}
.right{
    position: relative;
    display: flex;
    justify-content: space-evenly;
    width: 300px;
    height: 30px;
    float: right;
    align-items: center;
}
.settings{
    margin: 40px;
    position: relative;
}
.cercle{
    height: 30px;
    background-color: green;
    width: 30px;
    border-radius: 50%;
}
.filtres{
    display: flex;
    justify-content: center;
    float: left;
}
.centre{
    display: flex;
    justify-content: center;
    align-items: center;
}
.arrondi_div{
    border-radius: 20px;
}
.centre2{
    margin: auto;
}
div{
    border: 1px solid blue
}
body{
    font-family: 'Raleway', sans-serif;
}
.haut{
    padding-top: 30px;
    border-top: 1px solid red;
}
.img_centre{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: relative;
}
.img_gauche{
    display: flex;
    width: 60vw;
}
.img_droite{
    display: flex;
    flex-direction: column;
    width: 40vw;
}


.container{
    position: relative;
    display: flex;
}
.parent{
    height: 300px;
    position: relative;
}
.enfant{
    height: 500px;
    position: absolute;
    top: 70px;
    border: 2px red solid;
}