@font-face {
	font-family: "Raleway,sans-serif";
	src: url("font/Raleway/static/Raleway-Regular.ttf");
}

body {
	font-family: "Raleway,sans-serif";
    padding: 0;
    margin: 0;
}
.width_img_h{
    width: 870px;
}
.container_h img{
    height: 100px;
    min-width: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}
.flex_row h3, p:not(.txt_vign){
    margin: 5px;
    padding: 0px;
}
.bloc_img_h{
    display: flex;
}
.pad_5{
    padding: 5px;
}
.flec_col{
    flex-direction: column;
}
.flex_col{
    flex-direction: column-reverse;
}
.flex_row{
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;

}

.bg_white{
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    margin: 10px;
    box-shadow: rgba(0, 0, 0, .1) 5px 5px 5px;
    width: 250px;
}

.right {
	position: relative;
	display: flex;
	justify-content: space-evenly;
	width: 400px;
	height: 30px;
	float: right;
	align-items: center
}

.settings {
	margin: 0 30px 30px 40px;
	position: relative
}
.color_blue{
    color: #0065fc;
}
.cercle {
	height: 35px;
	background-color: #deebff;
	width: 35px;
	border-radius: 50%
}
.pad_top_20{
    padding-top: 20px;
}

.icon_info {
	background-color:#0065fc;
    color: #deebff;
}

.filtres {
	width: 750px;
	display: flex;
	justify-content: space-around;
	justify-content: space-between
}

.centre {
	display: flex;
	align-items: center
}

.arrondi_div {
	border-radius: 20px;
	border: 2px solid #deebff;
	margin: 5px
}

.centre2 {
	margin: auto
}

.right span {
	padding-top: 40px
}

.haut {
	position: relative;
	width: 125px;
	text-align: center
}


.img_centre {
	display: flex;
	justify-content: space-between;
	position: relative;
	float: left;
    width: 100%;
}

.img_gauche {
	display: flex;
	box-sizing: content-box;
	padding: 20px;
	border-radius: 20px;
	background-color: #f2f2f2;
	flex-wrap: wrap
}

.container_h {
	background-color: #f2f2f2;
	padding: 20px;
	border-radius: 15px;
    flex-grow: 1;
}

.container_h_figure {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly
}

.container_h picture {
	height: 175px
}
.img_droite {
	position: relative;
	display: flex;
	flex-direction: column;
	border-radius: 20px;
	background-color: #f2f2f2;
	padding: 18px;
    width: 350px;
    margin-left: 50px;
}

.radius_gauche {
	border-radius: 10px 0 0 10px;
	background-color: #f2f2f2;
	height: 40px;
	width: 40px;
	justify-content: center
}

.rechercher {
	position: relative;
	height: 40px;
	display: flex;
	margin-bottom: 15px;
	align-items: center;
	top: 5px
}

.champs_rech {
	display: flex;
	justify-content: center;
	height: 38px;
	width: 150px;
	border: 1px solid #f2f2f2;
	align-items: center
}

.champs_rech H4 {
	position: relative
}

.width {
	position: relative;
	top: -15px
}

.btn_rech {
	height: 40px;
	width: 100px;
	background-color: #0065fc;
	border-radius: 0 10px 10px 0;
	color: #fff;
	justify-content: center
}

.icon_p {
	color: #0065fc
}
.icon_v{
    color: #d5d5d5;
}

.container_populaires {
	display: flex;
	flex-direction: column;
}

.container_activite {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding-top: 90px
}

.container_img_act {
	display: flex;
	position: relative;
	flex-direction: row;
	width: 100%;
	justify-content: space-evenly
}

picture {
	display: flex;
	justify-content: center;
	overflow: hidden
}

.img_activite_S {
	border-radius: 20px 20px 0px 0px;
	width: 100%
}

.img_activite_S picture {
	height: 150px
}

.img_activite_B {
	border-radius: 20px 20px 0 0;
	height: 300px
}

.img_activite_B picture {
	height: 700px
}

.fig_haut {
	height: 345px;
	width: 22%;
	background-color: #fff;
	box-shadow: rgba(0, 0, 0, .1) 5px 5px 5px;
	border-radius: 20px
}

.fig_basse_g {
	height: 200px;
	background-color: #fff;
	box-shadow: rgba(0, 0, 0, .1) 5px 5px 5px;
	border-radius: 20px;
	overflow: hidden;
	width: 100%
}
.fig_basse_p{
    height: 125px;
    background-color: #fff;
	box-shadow: rgba(0, 0, 0, .1) 5px 5px 5px;
	border-radius: 20px;
	overflow: hidden;
	width: 100%
}

.fig_basse_g picture {
	height: 150px;
	width: 100%
}
.fig_basse_p picture{
    height: 75px;
    width: 100%;
}

.container_img_act figure {
	border-radius: 20px;
	box-shadow: rgba(0, 0, 0, .1) 2px 3px 5px
}

.d_m_footer {
	display: flex;
	flex-direction: row;
	width: 100%;
	background-color: #f2f2f2;
    margin-top: 20px;
}

.f_left {
	position: relative;
	float: left;
	padding-top: 30px;
	padding-bottom: 30px;
    display: flex;
    align-items: center;
}
.espace_bottom_pop{
    position: absolute;
    bottom: 10px;
}

.logo {
	position: relative;
	top: 15px
}

.espace {
	padding: 8px
}
.bold{
    font-weight: bold;
}
.flex_col {
	display: flex;
	position: relative;
	flex-direction: column;
	justify-items: left;
	padding-left: 20px;
    flex-grow: 1;
}

.list_deco {
	list-style: none;
	position: relative;
	left: -40px;
	top: -30px
}

.list_deco li {
	padding-bottom: 10px
}

.pad_top_mobile {
	padding-top: 20px
}

.div_fig {
	display: flex;
	flex-direction: column;
	background-color: #fff;
	border-radius: 20px;
	padding: 5px;
	height: 200px;
	width: 250px;
	margin: 5px;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, .1)
}

.hover:hover {
	border-top: 3px solid #0065fc
}

.div_fig div {
	padding-left: 10px;
	position: relative;
	bottom: 30px;
	height: 60px
}

.div_fig img {
	height: 125px;
	width: 100%;
	border-radius: 20px 20px 0 0
}

.div_fig_pop {
	padding: 5px;
	display: flex;
	background-color: #fff;
	border-radius: 15px;
	flex-direction: row;
	position: relative;
	margin-top: 30px;
	box-shadow: rgba(0, 0, 0, .1) 3px 3px 3px 3px;
	height: 140px
}

.div_fig_pop picture {
	border-radius: 15px 0 0 15px;
}

.div_fig_pop img {
	width: 150px;
}
.plus_pop_graph {
	display: flex;
	justify-content: space-between
}


.espace_activite {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 22%
}

.inscrire {
	color: #0065fc
}

.espace_txt_pop {
	position: relative;
	padding-left: 10px;
    width: 70%;
}

.espace_top_header {
	position: relative;
	padding-top: 20px
}

.display_phone {
	display: none
}

.txt_vign {
	position: relative;
    padding: 0px;
    margin: 5px 0px 0px 0px;
}

.icon_vign {
	position: relative;
	bottom: 60px
}

.espace_txt_act {
	margin: 15px;
	font-weight: 700;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

a {
	text-decoration: none;
	color: #d5d5d5
}

a:hover {
	color: #0065fc
}

#act_marseille {
	margin-left: 20px
}

img:not(.logo, .container_h img, .container_populaires img) {
	min-width: 100%;
	object-fit: cover
}
.container_populaires img{
    min-height: 100%;
    object-fit: cover;
}
.div_fig_pop h3{
    padding-top: 5px;
    margin: 0px;
}
.i_info{
    display: flex;
    justify-content: center;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    border: 1px solid #d5d5d5;
    color: #0065fc;

}

@media screen and (max-width:1100px) {
    .espace_txt_act{
        padding-top: 5px;
    }
	.img_centre {
		flex-direction: column-reverse
	}
	.padding_left {
		padding-left: 20px
	}
	.container_populaires {
		width: 100%
	}
	.container_h {
		width: 100%
	}
	.container_img_act {
		flex-direction: column;
		align-items: center
	}
	.fig_haut {
		height: 300px;
		width: 90%;
		background-color: #fff;
		border-radius: 20px
	}
	.img_activite_B {
		border-radius: 20px 20px 0 0;
		height: 250px;
		width: 100%
	}
	.filtres {
		width: 100%;
		flex-wrap: wrap;
		float: left;
		margin-top: 10px
	}
	.haut {
		position: relative;
		border-top-style: none;
		padding-bottom: 10px;
		border-bottom: #f2f2f2 3px solid;
		width: 50%;
		text-align: center
	}
	.right {
		margin-top: 30px;
		width: 100%;
		padding-bottom: 20px
	}
	.inscrire {
		position: absolute;
		top: -70px;
		right: 4px
	}
	.img_droite {
		left: 0;
		border-radius: 0;
		width: auto;
	}
	.settings {
		margin: 0
	}
	.container_h {
		background-color: #fff
	}
	.container_img_act div {
		margin-top: 15px
	}
	.container_activite {
		height: auto;
		padding-top: unset;
		justify-content: center
	}
	.logo {
		left: 5px
	}
	.d_m_footer {
		flex-direction: column
	}
	.activite_mobile {
		width: 50%;
		border-bottom: 5px solid #f2f2f2;
		padding-bottom: 10px;
		position: relative;
		text-align: center
	}
	.espace_txt_act {
		padding-left: 10px
	}
	.div_fig_pop img {
		width: 200px
	}
	.display_pc {
		display: none
	}
	.display_phone {
		display: block
	}
	.btn_rech {
		width: 40px;
		border-radius: 10px
	}
	.rechercher {
		justify-content: center;
		width: 100%;
		height: 50px
	}
	.pad_top_mobile {
		padding-top: 100px;
		margin: 0 30px 30px 30px
	}
	.champs_rech {
		width: 60%;
		height: 50px
	}
	.btn_rech {
		width: 15%;
		height: 50px
	}
	.radius_gauche {
		height: 50px;
		width: 15%
	}
	.width {
		top: 5px
	}
	.espace_activite {
		width: 100%;
		align-items: center
	}
	.fig_basse {
		width: 90%;
		height: 300px
	}
	.img_activite_S {
		width: 100%
	}
	.flex_col {
		width: 90%
	}
	.div_fig {
		width: 100%;
		height: 400px
	}
	.container_h {
		width: unset
	}
	.container_h_figure {
		padding: unset
	}
	.div_fig img {
		width: 100%;
		height: 300px
	}
	.div_fig div {
		bottom: unset
	}
	.f_left {
		margin: 0 20px 0 20px
	}
	.hover:hover {
		border: 0
	}
	.hover2:hover {
		border-bottom: #0065fc 2px solid
	}
	.container_h picture {
		height: 300px
	}
	.fig_basse picture {
		height: 250px
	}
    .img_droite{
        margin: 0px;
    }
    .fig_basse_p, .fig_basse_g {
		height: 300px;
		width: 90%
	}
	.fig_basse_p picture, .fig_basse_g picture {
		height: 250px
	}
}

@media screen and (max-width:600px) {
	.div_fig {
		height: 230px
	}
    .bg_white{
        width: 100%;
    }
    .img_droite{
        margin: 0px;
        left: 0;
    }
	.div_fig img {
		width: 100%;
		height: 150px
	}
	.div_fig div {
		bottom: 30px
	}
	.fig_haut {
		height: 165px;
		width: 90%;
		background-color: #fff;
		border-radius: 20px
	}
	.img_activite_B {
		border-radius: 20px 20px 0 0;
		height: 115px;
		width: 100%
	}
	.fig_basse_p, .fig_basse_g {
		height: 165px;
		width: 90%
	}
	.fig_basse_p picture, .fig_basse_g picture {
		height: 115px
	}
	.img_activite_S {
		height: 115px;
		width: 100%
	}
	.espace_txt_pop {
		padding-left: 10px
	}
    .logo{
        left:25px;
    }
    .inscrire{
        top: -90px;
        right: 20px;
    }.container_populaires{
        margin: 0px;
        padding: 0px;
    }
    .container_h{
        padding: 0px;
        margin: 10px;
    }
    .container_populaires h4{
        margin: 5px;
    }
    .flex_row h3{
        margin: 5px;
    }
    .container_img_act div{
        margin-top: 10px;
    }
    .div_fig_pop h3{
        padding: 0px 0px 10px 0px;
        margin: 0px;
    }
    .espace_bottom_pop{
        padding-left: 5px;
    }
    .txt_vign{
        padding: 0px;
        margin: 0px;
    }
    .container_h img{
        height: 150px;
    }
    .padding_left{
        width: 100%;
    }
    .filtres{
        justify-content: unset;

    }
    .espace_txt_pop{
        padding-top: 10px;
    }

}